@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  align-items: center;
}
.left {
  width: 50%;
  background: #9fb7ee;
  height: 100vh;
}
.left .quote p {
  width: 330px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.left .image {
  text-align: center;
}
.left .image img {
  width: 75%;
}
.right {
  width: 50%;
  background: #8091e6;
  height: 100vh;
  text-align: center;
}
.right h1 {
  margin-top: 200px;
  width: fit-content;
  border: solid 2px black;
  border-radius: 50px;
  padding: 5px 20px;
  margin: 200px auto 5px auto;
}
.right label {
  font-weight: bolder;
  display: block;
  font-size: 20px;
  padding: 10px 0px;
}
.right select,
.right option,
.right .price input {
  width: 200px;
  height: 40px;
  background-color: #8298c2;
  border-radius: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 3px;
  border-color: #707070;
}
.right .price input {
  height: 40px;
  border: none;
  border: 2px #707070 solid;
}
::placeholder {
  color: #ffffff;
}
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.checkbox input {
  height: 40px;
  width: 40px;
  background: #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
}
.checkbox label {
  margin-left: 20px;
}
button {
  width: 150px;
  height: 50px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background-color: #0728ff;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  border: 2px #707070 solid;
}
@media (max-width: 755px) {
  .left {
    display: none;
  }
  .right {
    width: 100%;
    height: 110vh;
  }
}
