body{
        background-image: url(./Web.png);
        background-color: rgba(95, 89, 89, 0.452);
        color: cornsilk;
        font-family: "Lucida Console", "Courier New", monospace;
}
.container{
        background-color: rgba(65, 65, 65, 0.568);
        border: black solid 0px;
        width: 500px;
        padding: 20px;
        margin-left: 650px;
        margin-top: 200px;
}
input{
        background-color: rgba(65, 65, 65, 0.568);
        height: 30px;
        width: 150px;
        border-radius: 35px;
        color: white;
}
button{
       background-color: rgba(65, 65, 65, 0.568);
       height: 30px;
       width: 150px;
       border-radius: 35px;
       color: white;
} 
.options{
       background-color: rgba(65, 65, 65, 0.568); 
       height: 30px;
       width: 150px;
       border-radius: 35px;
       color: white;      
}
::placeholder{
        color: white;
}
